<header>


 <div class="cnt">
     <div class="box">
         <div class="spinner">
             <div class="center">
                 <div class="grip"></div>
             </div>
             <div class="one">
                 <div class="outer-silver">
                     <div class="black">
                         <div class="inner-silver">
                             <div class="hole"></div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="two">
                 <div class="outer-silver">
                     <div class="black">
                         <div class="inner-silver">
                             <div class="hole"></div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="three">
                 <div class="outer-silver">
                     <div class="black">
                         <div class="inner-silver">
                             <div class="hole"></div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="shaper1"></div>
             <div class="shaper2"></div>
             <div class="shaper3"></div>
         </div>
     </div>
 <a id="logo" href="/" title="На главную">Скачай-ка.рф <span>лучший софт для смартфона</span></a>

<nav>
<div id="uNMenuDiv1" class="uMenuV"><ul class="uMenuRoot">
<li class="uWithSubmenu"><a href="/smartphone/ios/page1/" rel="nofollow"><span>IOS</span></a>
<ul>
    {% set platform = 'ios' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

<li class="uWithSubmenu"><a href="/smartphone/android/page1/" rel="nofollow"><span>Android</span></a>
<ul>
    {% set platform = 'android' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

<li class="uWithSubmenu"><a href="/smartphone/windows/page1/" rel="nofollow"><span>Windows</span></a>
<ul>
    {% set platform = 'windows' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

<li class="uWithSubmenu"><a href="/smartphone/psp/page1/" rel="nofollow"><span>PSP</span></a>
<ul>
    {% set platform = 'psp' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

<li class="uWithSubmenu"><a href="/smartphone/symbian/page1/" rel="nofollow"><span>Symbian</span></a>
<ul>
    {% set platform = 'symbian' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

<li class="uWithSubmenu"><a href="/smartphone/bada/page1/" rel="nofollow"><span>Bada</span></a>
<ul>
    {% set platform = 'bada' %}
    {% include '.inc/umenu.links.twig' %}
</ul>
</li>

</ul>
</div>
 </nav>
 </div>
</header><!--/U1AHEADER1Z-->
 <!--U1PROMO1Z-->
