{% extends 'document.twig' %}

{% block content %}
<div id="middle-entry" class="overflow-hidden">
    <div class="entry-block">
        <div class="content-entry">
            <h1 class="title1"><span>Генерация Sitemap</span></h1>
            <div id="middle" class="overflow-hidden">
                <b>Добавлено: </b> {{file_links}} файлов;
            </div>
        </div>
    </div>
</div>
{% endblock %}
