@charset "utf-8";

body#mainContainer {
	background: url(/Static/pdalife/images/background_01.jpg);
        background-attachment:fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
